:root {
  font: 16px / 1 sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: #1a1a1a;
}

html {
  height: 100%;
}

body {
  margin: 0;

  min-height: 100%;
  max-height: 100%;
  background-color: white;
}
/* NavigationMain component begins */
.main-nav,
.home-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #6a60a9;
  margin: 0;
}

.main-nav h1,
.home-nav h1 {
  font-family: 'Luckiest Guy', cursive;
  margin-left: 5rem;
  color: white;
}
.main-nav ul {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-right: 5rem;
}

.link {
  /* font-weight: bold; */
  color: white;
}
.link:hover {
  color: #fbd14b;
  text-decoration: none;
}

/* NavigationMain component ends */
/* Home component begins */

.home-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  background-image: linear-gradient(
      rgba(106, 96, 169, 0.8),
      rgba(251, 209, 75, 0.6)
    ),
    url('./images/home3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: -webkit-fill-available;
}

.main-section {
  display: flex;
  border-radius: 1rem;
}

.home-section {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume p {
  /* width: 40%; */
  text-align: center;
  margin: 0.5rem 0rem;
  color: white;
  font-size: 1.5rem;
}
.resume h1 {
  font-family: 'Luckiest Guy', cursive;
  margin: 0.5rem 0rem;
  letter-spacing: 0.5rem;
}

.language-word {
  margin-top: 0.3rem;
}
.search-city-section {
  display: flex;
  margin: 1rem;
}
.city-section {
  flex: 1;
  margin: 0.3rem 0 0 0;
}
.text-section {
  flex: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  border-style: none;
}
.button-section,
.log-in-button,
.sign-up-button {
  flex: 1;
  background: #fbd14b;
  border-style: none;
  border-radius: 0.5rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
.language-section {
  display: flex;
  justify-content: top;
}
.logIn-signUp-section {
  display: flex;
}
.logIn-signUp-section p {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* Home component ends */
/* LocalList component begins */

.main-LocalList ul li {
  display: flex;
  flex-direction: column;
  margin-left: 2.2rem;
  list-style: none;
}

.search-city-section-2 {
  display: flex;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.search-city-section-2 input {
  flex: 7;
  border: 0.1rem solid #d1b6e1;
}
.search-city-section-2 button {
  flex: 1;
}
.main-LocalList h1 {
  text-align: center;
}

.table thead {
  background-color: #c991f3;
}
.table tbody {
  background-color: #d1b6e1;
}
.link2 {
  font-weight: bold;
  color: #6a60a9;
}
.link2:hover {
  color: #fbd14b;
  text-decoration: none;
}

/* LocalList component ends */

.form-row {
  padding: 0.5rem 0;
  display: flex;
}
.form-row label {
  padding-right: 0.5rem;
}
.form-row input {
  flex: 1;
  border-radius: 1rem;
  border-style: none;
  padding-left: 0.5rem;
  height: 1.5rem;
}
.form-section {
  margin-top: 2.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  background-color: #d1b6e1;
  border-radius: 1rem;
}
/* Style to all forms end */
/* LocalDetail component begins */
.main-section {
  display: flex;
  margin: 5rem;
}
.detail-volunteer,
.comment-list {
  flex: 1;
}

.comment-list {
  display: flex;
  flex-flow: column wrap;
  background-color: #b67df2;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.comment-list h2 {
  flex: 1;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  margin: 0;
}
.comment-list ul {
  flex: 7;
  margin: 0;
  text-align: justify;
  padding-right: 1rem;
}

.detail-volunteer {
  display: flex;
  flex-direction: column;
}

.volunteer-list {
  flex: 1;
  background-color: #c991f3;
  border-bottom-left-radius: 1rem;
}

.volunteer-list h2 {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  margin: 0;
}
.frame-picture {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.frame-picture figure {
  text-align: center;
}
.frame-picture figure img {
  min-width: 120px;
  min-height: 120px;
  max-width: 120px;
  max-height: 120px;
  object-fit: cover;
  border-radius: 5rem;
}

.detail-section {
  flex: 1;
  background-color: #e2afaf;
  border-top-left-radius: 1rem;
  display: flex;
  flex-flow: column wrap;
}
.detail-section h2 {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  flex: 1;
}
.label-detail {
  margin: 0;
  flex: 1;
  padding-left: 1rem;
  text-align: justify;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

/* LocalDetail component begins */
/* UserAdmin component begins */
nav {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav li {
  display: inline;
}
/* UserAdmin component ends */
/*  Navigation components begin*/
h5 {
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Navigation components end */

@media (max-width: 600px) {
  /* NavigationMain component begins */
  .main-nav {
    align-items: baseline;
  }
  .main-nav h1 {
    margin-left: 3rem;

    /* border: 0.1px solid black; */
  }
  .main-nav ul {
    margin-right: 3rem;
    /* border: 0.1px solid black; */
  }
  /* NavigationMain component ends */
  /* Home component begins */
  .home-container {
    height: -webkit-fill-available;
  }
  .main-section {
    display: flex;
    flex-flow: column wrap;
  }
  .main-section img {
    min-width: 280px;
    max-width: 280px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    object-fit: fill;
  }
  .home-section {
    width: 100%;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0;
  }
  .resume {
    width: 17rem;
  }
  .resume h1 {
    font-size: 1.5rem;
  }
  .resume p {
    width: 90%;
    text-align: justify;
    font-size: 0.8rem;
  }

  .language-section img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .log-in-button,
  .sign-up-button {
    margin-bottom: 0;
  }

  .button-section,
  .log-in-button,
  .sign-up-button {
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
    margin-left: 0.5rem;
  }
  .text-section {
    padding-right: 1.5rem;
  }
  /* Home components ends */
  /* LocalDetail components begins */
  .detail-section {
    border-top-right-radius: 1rem;
  }
  .volunteer-list {
    border-bottom-left-radius: 0;
  }

  .comment-list {
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
  }
  .comment-list ul {
    padding-bottom: 0.5rem;
  }
  /* LocalDetail components ends */
  /* LocalList components begins */
  /* .main-LocalList ul li {
    pa
  } */

  .main-LocalList label {
    font-size: 0.8rem;
  }
  .main-LocalList h1 {
    font-size: 1.3rem;
  }

  .link:hover {
    color: #beb639;
    text-decoration: none;
  }
  /* LocalList component ends */
  /* Forms style begin */
  .form-section {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  /* Form style end */
  /* UserAdmin component begins*/
  nav {
    padding: 0;
  }
  nav ul {
    padding: 0;
  }
  nav h3 {
    font-size: 1rem;
    margin: 0;
  }
  /* UserAdmin component ends */
}
@media (max-width: 650px) {
  /* NavigationMain component begins */
  .main-nav {
    align-items: baseline;
  }
  /* NavigationMain component ends */
  /* Home component begins */
  .resume p {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .main-section img {
    min-width: 200px;
    max-width: 200px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    object-fit: fill;
  }
  .language-section img {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    object-fit: fill;
  }

  .text-section {
    flex: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    border-style: none;
  }
  frame-picture img {
    border-top-right-radius: 5rem;
  }
  /* Home component ends */
}
